header {
    text-align: left;
    font-size:20px;
    margin-bottom: 40px;
    padding: 10px;
    height:3000px;
    width:150px;
    float:left;  
    position: fixed;
    background-color: rgb(245, 245, 245)
  }

header * {
  display: block;
}

header li {
  margin: 20px;
}

