.table {
  width: 800px !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  border: 1px solid black;
  height: 0px;  /* janky solution for now to make it so rows are a normal height */
}

.th {
  background-color: rgb(241, 241, 241) !important;
  margin: 10px;
  text-align: center;
}

.tbody {
  text-align: center;
}

